.item-product {
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #eee;
  box-shadow: 0 3px 10px #eee;
  margin-bottom: 2rem;

  .img-product {
    position: relative;
    overflow: hidden;
    border-radius: 10px 10px 0 0;

    .img-prod {
      img {
        max-width: 100%;
      }
    }

    .actions {
      background-color: #333;
      padding: 0.5rem;
      display: flex;
      justify-content: space-around;
      align-items: center;
      a {
        color: #fff;
        transition: 0.3s;
        &.btnadd-cart:hover {
          color: tomato;
        }
        &.btnadd-wishlist:hover {
          color: tomato;
        }
      }
    }
  }

  .info-product {
    text-align: center;
    position: relative;
    .title-product {
      color: #333;
      font-weight: 500;
      &:hover {
        color: tomato;
      }
    }

    .prices {
      margin: 0.4rem auto;
      span {
        color: #333;
        font-weight: bold;
      }
      del {
        color: #333;
      }
    }

    .rating {
      i {
        color: #333;
        .active {
          color: #ffc107;
        }
      }
    }
  }
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -ms-transition: opacity .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}
